@charset "UTF-8";

  table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
  }
  th, td {
    border-bottom: 1px solid #444444;
    padding: 10px;
    text-align: center;
  }
  th {
    background-color: #bbdefb;
  }
  td {
    background-color: #e3f2fd;
  }
.error {
	font-size:small;
	color:red;
	margin-left:10px;
}
  input[type=submit]:hover {
	background-color:#bbdefb;
}
  #buttonDiv {
  	text-align:right;
  }
  input[type=submit] {
  		width: 100px
  		background-color:#e3f2fd;
  }